@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
// Variables
$regular: "Outfit";
$primary: #3456ff;
$secondary: #070928;
$text-content: #a2a2a9;

// Reset Browser default styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes rippleAnimation {
  0% {
    width: 0;
    height: 0;
    opacity: 0.3;
  }

  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

@keyframes up-and-down {
  to {
    opacity: 0.2;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
}

body {
  font-size: 15px;
  font-family: $regular, sans-serif;
  color: #f0f0d3;
  line-height: 1.4;
  scroll-behavior: smooth;
  width: 100%;
}
body .page-loading {
  background-color: $primary;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .load {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    div {
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      margin: 0 5px;
      animation-name: up-and-down;
      animation-duration: 0.9s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    .two {
      animation-delay: 0.3s;
    }
    .three {
      animation-delay: 0.6s;
    }
  }
}

.header-fixed {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  padding: 10px 0 !important;
  background: #fcfaff !important;
}

.page-wrapper {
  .page-header {
    padding: 20px 0;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    transition: padding 0.3s linear;
    .row {
      max-width: 1380px;
      width: 100%;
      margin: 0 auto;
    }

    .left {
      p {
        color: $primary;
        margin: 0;
        font-size: 26px;

        span {
          color: $secondary;
        }
      }
    }

    .right {
      nav {
        float: right;

        ul {
          margin: 0;

          li {
            margin: 0 20px;
            a {
              display: inline-block;
              color: #545455;
              font-size: 16px;
              text-transform: capitalize;
            }
          }
          .active {
            a {
              color: $primary;
            }
          }
        }
      }
    }
  }

  main {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .page-banner {
    background: url(../../assets/media/banner-bg.png) no-repeat;
    background-position: 0 0px;
    background-size: 100% 100%;
    min-height: 100vh;
  }

  .content-wrapper {
    .container-width {
      max-width: 1380px;
      width: 100%;
      margin: 0 auto;
      padding: 0 15px;
    }
    .banner-content {
      max-width: 1380px;
      width: 100%;
      margin: 0 auto;
      padding: 0 15px;
      min-height: calc(100vh - 100px);
      padding-top: 80px;

      .row {
        align-items: center;

        .text {
          font-size: 24px;
          color: $primary;
          font-weight: 800;
          margin-bottom: 0;
          width: fit-content;
        }

        .text-name {
          font-size: 52px;
          color: $primary;
          font-weight: 900;
          text-transform: capitalize;
          margin-bottom: 0;
          width: fit-content;

          span {
            color: $secondary;
          }
        }

        .text-work {
          font-size: 52px;
          color: $secondary;
          text-transform: capitalize;
          font-weight: 900;
          width: fit-content;

          span {
            position: relative;
            z-index: 2;

            &:before {
              content: "";
              position: absolute;
              bottom: 6px;
              left: 50%;
              width: calc(100% - 5px);
              height: 5px;
              transform: translateX(-50%);
              background-color: #d7c0ff;
              z-index: -1;
            }
          }
        }

        .btn-action {
          background-color: $primary;
          color: #fff;
          font-size: 18px;
          border: none;
          border-radius: 5px;
          min-width: 120px;
          text-transform: capitalize;
          margin-top: 25px;
          border: none;
          position: relative;
          overflow: hidden;

          span {
            position: absolute;
            background-color: #fff;
            pointer-events: none;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            animation: rippleAnimation 1s linear infinite;
          }

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        .content {
          color: $text-content;
          font-size: 16px;
          font-weight: 500;
        }

        .right-image {
          min-height: 500px;
        }
      }
      .text-content {
        .reveal-text {
          position: relative;
          background-color: #fff;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            transform-origin: 100% 0;
            background-color: #fff;
          }
        }
      }
    }
  }
  .about-section {
    background: url(../../assets/media/about-bg.png) no-repeat;
    background-position: 0 0px;
    background-size: 100% 100%;
    min-height: 90vh;

    .about-content {
      padding: 80px 15px;
      max-width: 1000px;

      .row {
        .text-center {
          .title {
            margin-bottom: 70px;
            color: $secondary;
            font-size: 32px;
          }
        }
        .nav-tabs {
          border: none;

          button {
            font-size: 15px;
            color: $text-content;
            padding: 7px 20px;
            line-height: 1.1;
            border: none;
          }

          button.active {
            box-shadow: 2px 2px 20px -6px rgba(0, 0, 0, 0.45);
            color: $primary;
          }
        }

        .tabs-section {
          color: $text-content;
          font-size: 16px;
          .role {
            font-size: 18px;
            margin-bottom: 25px;
            color: #070928;
          }
          .actions {
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .btn-downloadcv {
              background: transparent;
              color: #fff;
              padding: 10px 0px;
              border-radius: 4px;
              line-height: 1.1;
              margin-right: 40px;
              min-width: 150px;
              text-align: center;
              position: relative;
              z-index: 9;
              overflow: hidden;
              border: 1px solid $primary;
              transition: all 0.3s ease-in-out;

              &:hover {
                color: $primary;
                &:before {
                  top: -100px;
                }
              }

              &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: $primary;
                border: 1px solid $primary;
                z-index: -1;
                transition: all 0.3s ease-in-out;
              }
            }

            .more-about {
              background: transparent;
              color: #fff;
              padding: 10px 0px;
              border-radius: 4px;
              line-height: 1.1;
              position: relative;
              min-width: 150px;
              text-align: center;
              z-index: 9;
              overflow: hidden;
              border: 1px solid $secondary;
              transition: all 0.3s ease-in-out;

              &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: $secondary;
                border: 1px solid $secondary;
                z-index: -1;
                transition: all 0.3s ease-in-out;
              }

              &:hover {
                color: $secondary;
                &:before {
                  top: 200px;
                }
              }
            }

            button {
              &:focus {
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }

  .services-section {
    padding: 50px 0;
    min-height: 90vh;

    .section-title {
      margin: 30px 0 50px 0;
      .title {
        margin-bottom: 70px;
        color: $secondary;
        font-size: 32px;
      }
    }

    .row {
      max-width: 980px;
      margin: 0 auto;
      .col-md-4 {
        .service-card {
          min-height: 280px;
          padding: 20px;
          border-radius: 4px;
          border: none;
          background: #fff;
          box-shadow: 1px 1px 33px -5px rgba(0, 0, 0, 0.18);
          transition: all 0.3s ease-in-out;
          position: relative;

          .title {
            font-size: 34px;
            color: #070928;
            line-height: 1.1;
            margin-bottom: 20px;
          }

          .description {
            color: $secondary;
            font-size: 16px;
          }

          .service-actions {
            position: absolute;
            width: 100%;
            bottom: 20px;
            left: 20px;

            .btn-more {
              background: transparent;
              color: $secondary;
              font-size: 16px;
              border: none;
              padding-right: 50px;
              position: relative;
              text-decoration: none;

              * {
                line-height: 10px;
              }

              span {
                position: absolute;
                right: 25px;
                top: 8px;
                color: $secondary;
                transition: all 0.3s ease-in-out;
                opacity: 0.8;
              }

              &:before {
                content: "";
                position: absolute;
              }
            }
          }

          &:hover {
            background: $primary;

            .title {
              color: #fff;
            }

            .description {
              color: #fff;
            }

            .btn-more {
              color: #fff;

              span {
                color: #fff;
              }
              span {
                right: 10px;
              }
            }
          }
        }
      }
    }
  }

  .contact-section {
    width: 100%;
    background-color: $primary;
    min-height: 330px;
    margin-bottom: 100px;

    .container-width {
      .contact-card {
        background-color: #fff;
        max-width: 950px;
        width: 100%;
        min-height: 250px;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 140px;
        border-radius: 5px;
        box-shadow: 1px 1px 33px -5px rgba(52, 86, 255, 0.32);

        .title {
          color: $secondary;
          font-size: 32px;
        }

        .btn-contact-me {
          margin-top: 50px;
          background: $secondary;
          color: #fff;
          padding: 10px 0px;
          border-radius: 4px;
          line-height: 1.1;
          position: relative;
          min-width: 150px;
          text-align: center;
          z-index: 9;
          overflow: hidden;
          border: 1px solid $secondary;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
